@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500;1,600;1,800&display=swap");
@import url(main.css);


.home {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10% 5%;
}

.contact .contact-content{
    padding-top: 10%;
    text-align: center;
}

.contact .contact-content h2{
    position: relative;
    font-weight: bold;
}

.contact .contact-content h2::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    animation: typing 1s ease forwards;
    animation-delay: 0.5s;
}

.contact .contact-content form{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.contact form{
    max-width: 600px;
    
}

.contact form .input-box .row{
    display: flex;
    justify-content: space-between;
}

.contact form .input-box .input-field{
    position: relative;
    padding: 2%;
    width: 49%;
    margin: 10px 0;
}

.contact form .input-box .input-field input, 
.contact form .input-box .email-field input,
.contact form .input-box  textarea{
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: var(--text-color);
    outline: none;
    resize: none;
    background: transparent;
    border-radius: .6rem;
    transition: 0.5s;
    border: 2px solid var(--secondory-color);
}

.contact form .input-box .input-field input::placeholder, 
.contact form .input-box .email-field input::placeholder,
.contact form .input-box  textarea::placeholder{
    color: var(--text-color);
    opacity: 0.8;

}


.home form .btn-box .btn {
    padding: 1rem 2rem;
    font-weight: bold;
    color: var(--secondory-color);
}

.home form .btn-box .btn:hover {
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--secondory-color);
}