@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url(main.css);


.home {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: auto 5%;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../IMG/Avatar_C.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.85;
}

.home .home-content{
    max-width: 600px;
}

.home .home-content h1{
    position: relative;
}

.home .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    animation: typing 1s ease forwards;
    animation-delay: 0.5s;
}

.home .home-content h3{
    color: var(--secondory-color);
}

.home .home-content .home-item .btn-box a{
    text-decoration: none;
}

.home .home-content .home-item .btn-box .btn-info{
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--secondory-color);
}

.home .home-content .home-item .btn-box .btn-info:hover{
    font-weight: bold;
    background-color: transparent;
    color: var(--secondory-color);
}

.home .home-content .home-item .btn-box .conatactinfo{
    margin-left: 20px;
}

.home .home-content .home-item .btn-box .conatactinfo:hover{
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--secondory-color);
}