@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500;1,600;1,800&display=swap");
@import url(main.css);

.home {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
}

.home .home-item{
    padding: 5%;
    margin: 5%;
    text-align: center;
    border: 2px solid var(--secondory-color);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.home h1 {
    position: relative;
    font-weight: bold;
    color: var(--text-color);
}

.home h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    animation: typing 1s ease forwards;
    animation-delay: 0.3s;
}

.home a {
    text-decoration: none;
}

.home .home-content{
    display: flex;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.home .home-content .btn-outline-info{
    border: 2px solid var(--secondory-color);
    text-align: center;

}

.home .home-content .btn-outline-info:hover{
    background-color: var(--secondory-color);
    color: var(--background-color);
    font-weight: bold;
}

.home .home-content .btn-outline-info:focus{
    background-color: var(--secondory-color);
    color: var(--background-color);
    font-weight: bold;
}
.home .home-content .btn-info{
    background-color: var(--secondory-color);
    color: var(--background-color);
    font-weight: bold;
}

.home .home-content .btn-info:hover{
    border: 2px solid var(--secondory-color);
    background-color: var(--background-color);
    color: var(--secondory-color);
    font-weight: normal;
}

.home .home-content .btn-info:focus{
    border: 2px solid var(--secondory-color);
    background-color: var(--background-color);
    color: var(--secondory-color);
    font-weight: normal;
}


.home .home-content .card-body{
    background: transparent;
}

.home .home-content .card-body li{
    list-style: none;
    padding: 5px;
    color: var(--secondory-color);
}


    


